.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #e6e6e6;
}
.main-container .container {
  background-color: white;
  margin-top: 100px;
  box-shadow: 4px 4px 2px gray;
}
.container h2 {
  color: blue;
  font-weight: bold;
  margin-bottom: 50px;
}
.right-container {
  background-color: white;
  box-shadow: -4px 4px 2px gray;
}
.my-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 25px;
}
.my-data {
  margin-left: 15px;
}

.my-info img {
  height: 60px;
  width: 60px;
  border-radius: 30%;
}
.personal-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: lightgray;
  border-radius: 10px;
  margin-right: 30px;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
}
.break-section {
  margin-left: 25px;
  margin-right: 30px;
}
.break-section .break {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  background-color: lightgray;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.break button {
  background-color: white;
  border-radius: 50px;
}
.exercise {
  margin-left: 25px;
  margin-right: 30px;
}
.exercise small {
  font-size: 18px;
}
.break-seconds {
  border: 1px solid gray;
  margin-top: 15px;
  border-radius: 5px;
  padding: 3px;
}
.btn {
  border-radius: 8px;
  margin-left: 25px;
  margin-top: 30px;
  background-color: blue;
  color: white;
}
.btn:hover {
  background-color: orange;
}
@media screen and (max-width: 576px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
